<div id="maincontainer" class="servicios">
  
  <div class="maincontainer_content">
    <h1 class="serviciosheader">Servicios</h1>
      
      <div id="servicios_list">
        <div class="servicioslist">
          <h3>Infraestructura</h3>
          <ul>
            <li><%= link_to "Enlaces de Largo Alcance", servicios_enlaces_de_largo_alcance_path %></li>
            <li><%= link_to "Redes (empresas)", "javascript:void(0)" %></li>
            <li><%= link_to "Redes (general)", "javascript:void(0)" %></li>
          </ul>
        </div>
        <div class="servicioslist">
          <h3>Soluciones para Servidores</h3>
          <ul>
            <li><%= link_to "Servidores VoIP/Asterisk", "javascript:void(0)" %></li>
            <li><%= link_to "DHCP", "javascript:void(0)" %></li>
            <li><%= link_to "Proxy", "javascript:void(0)" %></li>
            <li><%= link_to "Correo", "javascript:void(0)" %></li>
            <li><%= link_to "Dominios", "javascript:void(0)" %></li>
            <li><%= link_to "Hosting", "javascript:void(0)" %></li>
          </ul>
        </div>
        <div class="servicioslist">
          <h3>Departamento TI</h3>
          <ul>
            <li><%= link_to "li", "javascript:void(0)" %></li>
          </ul>
        </div>
        <div class="servicioslist">
          <h3>Outsourcing</h3>
          <ul>
            <li><%= link_to "li", "javascript:void(0)" %></li>
          </ul>
        </div>
      </div>
      
  </div>
  
</div>
<div id="subcontainer">

  <div id="extra_left">
    <%= link_to image_tag("extra_th.png"), "javascript:void(0)", :id=>"extra_th" %>
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    <span id="extra_spantab"><%= link_to "NOTICIAS/NOVEDADES", "javascript:void(0)" %></span>
  </div>
  
  <div id="extra_right">
    <span class="extra_right_row"> <%#= image_tag "extra1.png" %> Extra sub 1 </span>
    <span class="extra_right_row"> <%#= image_tag "extra2.png" %> Extra sub 2 </span>
    <span class="extra_right_row"> <%#= image_tag "extra3.png" %> Extra sub 3 </span>
  </div>
  
</div>
