<h2 id="nuestros-servicios" class="withLEDs">Nuestros Servicios</h2>

<h3>Web</h3>
<ul class="extraspaceXL servicios">
  <li><span><%=link_to "Dominios",web_path(:anchor=>"dominios")%> (<strong>.com</strong> <strong>.co</strong>, entre muchos otros)</span></li>
  <li><span>Alojamiento web (<%=link_to "Hosting",web_path(:anchor=>"hosting")%>)</span></li>
  <li><span>Administración y Mantenimiento de sitios web (<%=link_to "Webmastering",web_path(:anchor=>"webmaster")%>)</span></li>
  <li><span>Alojamiento y Streaming de Multimedia (<%=link_to "Audio Streaming",web_path(:anchor=>"streaming-audio")%> y <%=link_to "Video Streaming",web_path(:anchor=>"streaming-video")%>)</span></li>
  <li><span><%= link_to "Diseño y Desarrollo de Sitios Web", web_path(:anchor=>"webdev") %></span>
    <ul class="servicios compact">
      <li><span>Sitios web principalmente informativos (<%=link_to "Plan Starter",web_path(:anchor=>"webdev-plans")%>)</span></li>
      <li><span>Para pequeñas empresas o negocios (<%=link_to "Plan Basic",web_path(:anchor=>"webdev-plans")%>)</span></li>
      <li><span>Para medianas y grandes empresas (<%=link_to "Plan Plus",web_path(:anchor=>"webdev-plans")%>)</span></li>
      <li><span>Aplicación Web totalmente personalizada (<%=link_to "Plan Pro",web_path(:anchor=>"webdev-plans")%>)</span></li>
    </ul>
  </li>
</ul>

<h3>Cloud</h3>
<ul class="extraspaceXL servicios enconstruccion">
  <li><span><%=link_to "Servidores Privados Virtuales (VPS)",cloud_path(:anchor=>"vps")%></span></li>
  <li><span><%=link_to "Hosting en VPS (Cloud Hosting)",cloud_path(:anchor=>"cloud-hosting")%></span></li>
  <li><span> <%=link_to "Gaming Servers",cloud_path(:anchor=>"gaming-servers")%> </span></li>
  <li><span> <%=link_to "Telefonía IP en la Nube",cloud_path(:anchor=>"telefonia-ip-nube")%> </span></li>
  <li><span> <%=link_to "Contabilidad en la Nube",cloud_path(:anchor=>"contabilidad-nube")%> </span></li>
</ul>

<h3>Tecnología de la Información y las Comunicaciones (TIC)</h3>
<ul class="extraspaceXL servicios enconstruccion">
  <li><span><%=link_to "Asesoría",tic_path(:anchor=>"asesoria")%> en sistemas TIC</span></li>
  <li><span><%=link_to "Consultoría",tic_path(:anchor=>"consultoria")%> en sistemas TIC</span></li>
  <li><span><%=link_to "Tercerización",tic_path(:anchor=>"tercerización")%> TIC (Manejo de Infraestructura)</span></li>
  <li><span>Puesta en marcha de <%=link_to "Servidores Linux",tic_path(:anchor=>"servidores-linux")%></span></li>
  <li><span>Diseño de <%=link_to "Redes de datos",tic_path(:anchor=>"redes")%></span>
    <ul class="servicios compact">
      <li><span>Enlaces de datos cableados o inalámbricos de corto y largo alcance</span></li>
      <li><span>Implementación de políticas y normativas de seguridad informática</span></li>
      <li><span>Puesta en marcha de sistemas de redes de computación (<strong>Firewall</strong>, <strong>IDS</strong>, <strong>IPS</strong>, <strong>DHCP</strong>, <strong>Autenticación</strong>, entre otros)</span></li>
      <li><span>Configuración de <strong>Routers</strong>, <strong>Switches</strong> y <strong>Access Points (APs)</strong></span></li>
      <li><span><strong>Hotsposts</strong> (Zonas de <strong>WiFi</strong> en áreas públicas)</span></li>
    </ul>
  </li>
  <li><span>Puesta en marcha de <%=link_to "Sistemas de Telefonía IP",tic_path(:anchor=>"telefonia-ip")%></span></li>
</ul>
<br>

<p>Esperamos ser la solución a sus necesidades, con las herramientas hechas a su medida para así ofrecerle calidad y profesionalismo.</p>
