<div id="acerca_de_content" class="section_content"><div class="bg" data-0="background-position: 100% 0px;" data-end="background-position: 100% -<%= parallax_offset %>px;" data-anchor-target=".section_content .bg"><div class="wrapper">

  <br>
  <br>

  <h1 id="head"><span>Quién es <span class="dataflux">Data<span>Flux</span></span></span></h1>

  <div class="subsnav">
    <%= link_to "SOBRE NOSOTROS", "#sobre_nosotros" %>
    <%= link_to "NUESTROS SERVICIOS", "#nuestros_servicios" %>
    <%= link_to "CERTIFICACIONES", "#certificaciones" %>
    <%= link_to "CASOS DE ÉXITO", "#casos" %>
  </div>

  <div class="sectionbox" style="margin-bottom:0;">
    <div class="sideimg big nobox">
      <%= image_tag "sectionbox_acercade_A.png" %>
    </div>
    <div class="textwrapper">
      <%= render :partial => "sobre_nosotros" %>
    </div>
    <%= link_to "&nbsp;".html_safe, "#head", :class=>"back2top_inline", :title=>"Volver al tope" %>
  </div>

  <div class="sectionbox" style="margin-bottom:0;">
    <div class="sideimg big nobox">
      <%= image_tag "sectionbox_acercade_B.png" %>
    </div>
    <div class="textwrapper">
      <%= render :partial => "nuestros_servicios" %>
    </div>
    <%= link_to "&nbsp;".html_safe, "#head", :class=>"back2top_inline", :title=>"Volver al tope" %>
  </div>

  <div class="sectionbox" style="margin-bottom:0;">
    <div class="sideimg">
      <%= image_tag "sectionbox_certificados_ceh.png", :style=>"top:100px;" %>
    </div>
    <div class="textwrapper">
      <%= render :partial => "certificaciones" %>
    </div>
    <%= link_to "&nbsp;".html_safe, "#head", :class=>"back2top_inline", :title=>"Volver al tope" %>
  </div>

  <div class="sectionbox">
    <div class="textwrapper">
      <%= render :partial => "casos" %>
    </div>
    <%= link_to "&nbsp;".html_safe, "#head", :class=>"back2top_inline", :title=>"Volver al tope" %>
  </div>

  <br>
  <br>
  <br>

</div></div></div>
