<h2 id="webdev" class="withLEDs">DESARROLLO Y DISEÑO WEB</h2>

<p>Además de poder registrar el dominio y configurar el alojamiento de tu página web, con <span class="dataflux">Data<span>Flux</span></span> también puedes realizar el diseño de la misma completamente a tu medida.</p>

<br>
<br>

<span id="webdev-plans"></span>
<div class="planswrapper webdev">
  <%= render :partial => "plans_webdev" %>
</div>

<%= image_tag "inline_webdev.png", :class=>"inline" %>

<h3>Características Adicionales:</h3>
<ul class="extraspace compact">
  <li><span>Programamos teniendo en cuenta los estándares <strong>W3C</strong>.</span></li>
  <li><span>Aplicamos estrategias <abbr title="Search Engine Optimization"><strong>SEO</strong></abbr> en la programación (Optimización en los Motores de Búsqueda) para mejorar su posición en los más populares motores de búsqueda (<strong>Google</strong>, <strong>Yahoo</strong>, <strong>Bing!</strong>, <strong>Ask</strong>, entre otros).</span></li>
  <li><span>Programamos en <strong>Ruby on Rails</strong> (el más moderno y poderoso framework para desarrollo web), <strong>HTML5</strong> y <strong>CSS3</strong>.</span></li>
  <li><span>No Utilizamos <strong>Wordpress</strong>, <strong>Joomla</strong> u otros <abbr title="Content Management System"><strong>CMS</strong></abbr> como motor de su página web, excepto que el cliente lo especifique.</span></li>
  <li><span>Le entregamos la página con el contenido cargado (suministrado por el cliente (fotos, datos, etc).</span></li>
  <li><span>Cada versión de la aplicación se encuentra siempre online para ser vista en cualquier momento por el cliente y notar el progreso del proyecto.</span></li>
  <li><span>La página incluye una <strong>Base de Datos</strong> para el manejo de productos, promociones, servicios, etc.<%= link_to content_tag(:sup, "[3]"), "#foot3a", :class=>"footnote", :id=>"footnote3a" %></span></li>
  <li><span>Incluye un <strong>Panel Administrativ</strong>o hecho a medida para el control y mantenimiento del contenido de su página.<%= link_to content_tag(:sup, "[4]"), "#foot4a", :class=>"footnote", :id=>"footnote4a" %></span></li>
</ul>

<h3>Duración del Proyecto:</h3>
<p><small>El proyecto está pensado para desarrollarse entre <strong>1</strong> a <strong>2</strong> meses máximo, según el plan escogido, sin incluir la carga del contenido o correcciones realizadas por el cliente; luego de la primera entrega, la carga del contenido variará según la disponibilidad de éste por parte del cliente.</small></p>

<h3>Condiciones Comerciales:</h3>
<ul class="extraspace compact">
  <li><span><%= link_to "[1]", "#footnote1a", :id=>"foot1a", :class=>"foot" %> Cantidad de Productos limitada.</span></li>
  <li><span><%= link_to "[2]", "#footnote2a", :id=>"foot2a", :class=>"foot" %> El <strong>carrito de compras</strong> no incluye el costo de suscripción ni costos mensuales o comisiones de servicios tales como <strong>MercadoPago</strong>, <strong>PagosOnline</strong>, <strong>PSE</strong>, <strong>2CheckOut</strong>, <strong>Paypal</strong> etc.</span></li>
  <li><span><%= link_to "[3]", "#footnote3a", :id=>"foot3a", :class=>"foot" %> Solo aplica para los planes <strong>PLUS</strong> y <strong>PRO</strong>.</span></li>
  <li><span><%= link_to "[4]", "#footnote4a", :id=>"foot4a", :class=>"foot" %> NO aplica para el plan <strong>BASIC</strong>.</span></li>
  <li><span>El cliente <strong>debe</strong> proveer arte (textos, imágenes, banners, flyers, logos, etc.)</span></li>
  <li><span>Cualquier cambio o modificaciones al contenido web luego de su entrega y aprobación final no está incluido en el precio.</span></li>
  <li><span><strong>Pago del proyecto es: 50% anticipo, 50% contra entrega</strong>.</span></li>
</ul>
