<div id="footertop"><div class="wrapper">

  <table id="footertopinfo"><tbody>
    <tr>
      <td class="leftcol">
        <span class="cellphone" title="Teléfono Celular">(<span>+</span>57) 320<span>–</span>532<span>–</span>4089</span>
      </td>
      <td class="rightcol">
        <span class="landphone" title="Teléfono Fijo">(<span>+</span>57 5) 373<span>–</span>2488</span>
      </td>
    </tr>
    <tr>
      <td class="leftcol extra">
        <%= link_to "info@dataflux.com.co", "mailto:info@dataflux.com.co", :title=>"Email", :class=>"email" %>
      </td>
      <td class="rightcol extra">
        <%= link_to "", "http://facebook.com/dataflux", :target=>"_blank", :title=>"Facebook", :class=>"social facebook" %>
        <%= link_to "", "http://twitter.com/dataflux", :target=>"_blank", :title=>"Twitter", :class=>"social twitter" %>
        <%= link_to "", "http://plus.google.com/100537062393673080473", :target=>"_blank", :title=>"Google Plus", :class=>"social googlep" %>
         <%= link_to "", "javascript:voiud(0);", :title=>"Skype: dataflux", :class=>"social skype" %>
      </td>
    </tr>
  </tbody></table>

</div></div>


<div id="footerbottom"><div class="wrapper">

  <div id="footerlogo" onclick="window.location.href='/acerca_de'"></div>

  <div class="footerbottom_row">
    <span>&copy;</span> <%= Date.today.year %> <%= image_tag "logo_pixels.png", :class=>"dataflux" %>. Todos los derechos reservados. <%= link_to "Versión Desktop", :mobile => 0 %>.
  </div>

</div></div>
