<div id="headertop">

  <ul id="headertoptabs">
    <li class="<%= controller.controller_name=='home' ? 'activetab' : '' %>">
      <div class="tab1 activetabfader"></div>
      <%= link_to image_tag("tab_home.png"), root_path, :title=>"Home" %>
    </li>
    <li class="<%= controller.controller_name=='servicios' ? 'activetab' : '' %>">
      <div class="tab2 activetabfader"></div>
      <%= link_to image_tag("tab_servicios.png"), servicios_path, :title=>"Servicios" %>
    </li>
    <li class="<%= controller.controller_name=='quienes_somos' ? 'activetab' : '' %>">
      <div class="tab3 activetabfader long"></div>
      <%= link_to image_tag("tab_quienes_somos.png"), "javascript:void(0)", :title=>"¿Quiénes somos?" %>
    </li>
    <li class="<%= controller.controller_name=='contacto' ? 'activetab' : '' %>">
      <div class="tab5 activetabfader"></div>
      <%= link_to image_tag("tab_contacto.png"), contacto_path, :title=>"Contacto" %>
    </li>
  </ul>

  <ul id="headertopsocial">
    <li class="tw"><%= link_to image_tag("social_tw.png"), "javascript:void(0)" %></li>
    <li class="fb"><%= link_to image_tag("social_fb.png"), "javascript:void(0)" %></li>
    <li class="mail"><%= link_to image_tag("social_mail.png"), "javascript:void(0)" %></li>
  </ul>
  
</div>
<div id="header">

  <div id="logozone"><a href="/"></a></div>
  
  <span id="header_caption">
    <%= raw @headercaption %>
  </span>
  
  <%= form_tag "/", :method=>"get" do %>
    <%= text_field_tag "searchinput", nil, :placeholder=>"Realiza tu búsqueda" %>
    <%= image_tag "searchbutton.png", :id=>"searchbutton" %>
    <%= submit_tag " ", :id=>"searchsubmit" %>
  <% end %>
  
  <div id="header_moreinfo">
    <span>Para más información escribe a <strong>info@dataflux.com.co</strong></span>
    <span>Llámanos al (57) 3220000 - (57) 3220000</span>
  </div>
  
</div>
<div id="headerbottom">

  <%= render :partial => "layouts/headerbottomtabs" %>

</div>
