<ul id="headerbottomtabs">
  
  <li class="tabmenuheader"><%= link_to "Infraestructura", "javascript:void(0)" %></li>
  <ul class="tabmenu">
    <li><%= link_to "Enlaces de largo alcance", "javascript:void(0)" %></li>
    <li><%= link_to "Redes (empresas)", "javascript:void(0)" %></li>
   <li><%= link_to "Redes (general)", "javascript:void(0)" %></li>
  </ul>
  
  <li class="tabmenuheader"><%= link_to "Soluciones para Servidores", "javascript:void(0)" %></li>
  
  
  <li class="tabmenuheader"><%= link_to "Departamento TI", "javascript:void(0)" %></li>
  
  
  <li class="tabmenuheader"><%= link_to "Outsourcing", "javascript:void(0)" %></li>
  
  

</ul>
