<ul id="headerbottomtabs">
  
  <li class="tabmenuheader">
    <%= link_to "Infraestructura", "javascript:void(0)" %>
    <ul class="tabmenu">
      <li><%= link_to "Enlaces de Largo Alcance", "javascript:void(0)" %></li>
      <li><%= link_to "Redes (empresas)", "javascript:void(0)" %></li>
      <li><%= link_to "Redes (general)", "javascript:void(0)" %></li>
    </ul>
  </li>
  
  <li class="tabmenuheader">
    <%= link_to "Soluciones para Servidores", "javascript:void(0)" %>
    <ul class="tabmenu">
      <li><%= link_to "Servidores VoIP/Asterisk", "javascript:void(0)" %></li>
      <li><%= link_to "DHCP", "javascript:void(0)" %></li>
      <li><%= link_to "Proxy", "javascript:void(0)" %></li>
      <li><%= link_to "Correo", "javascript:void(0)" %></li>
      <li><%= link_to "Dominios", "javascript:void(0)" %></li>
      <li><%= link_to "Hosting", "javascript:void(0)" %></li>
    </ul>
  </li>
  
  <li class="tabmenuheader">
    <%= link_to "Departamento TI", "javascript:void(0)" %>
  </li>
  
  <li class="tabmenuheader">
    <%= link_to "Outsourcing", "javascript:void(0)" %>
  </li>

</ul>
