<div id="headertop">

  <ul id="headertoptabs">
    <li class="<%= controller.controller_name=='home' ? 'activetab' : '' %>">
      <div class="tab1 activetabfader"></div>
      <%= link_to image_tag("tab_home.png"), "javascript:void(0)", :title=>"Home" %>
    </li>
    <li class="<%= controller.controller_name=='servicios' ? 'activetab' : '' %>">
      <div class="tab2 activetabfader"></div>
      <%= link_to image_tag("tab_servicios.png"), "javascript:void(0)", :title=>"Servicios" %>
    </li>
    <li class="<%= controller.controller_name=='quienes_somos' ? 'activetab' : '' %>">
      <div class="tab3 activetabfader long"></div>
      <%= link_to image_tag("tab_quienes_somos.png"), "javascript:void(0)", :title=>"¿Quiénes somos?" %>
    </li>
    <li class="<%= controller.controller_name=='contacto' ? 'activetab' : '' %>">
      <div class="tab5 activetabfader"></div>
      <%= link_to image_tag("tab_contacto.png"), "javascript:void(0)", :title=>"Contacto" %>
    </li>
  </ul>

  <ul id="headertopsocial">
    <li class="tw"><%= link_to image_tag("social_tw.png"), "javascript:void(0)" %></li>
    <li class="fb"><%= link_to image_tag("social_fb.png"), "javascript:void(0)" %></li>
    <li class="mail"><%= link_to image_tag("social_mail.png"), "javascript:void(0)" %></li>
  </ul>
  
</div>
<div id="header">

  <div id="logozone"><a href="/"></a></div>
  
  <span id="header_caption">
    En <strong>DataFlux</strong> dirigimos y mantenemos sus redes, equipos y herramientas en óptimo estado.
  </span>
  
  <%= form_tag "/", :method=>"get" do %>
    <%= text_field_tag "searchinput", nil, :placeholder=>"Realiza tu búsqueda" %>
    <%= image_tag "searchbutton.png", :id=>"searchbutton" %>
    <%= submit_tag " ", :id=>"searchsubmit" %>
  <% end %>
  
  <div id="header_moreinfo">
    <span>Para más información escribe a <strong>info@dataflux.com.co</strong></span>
    <span>Llámanos al (57) 3220000 - (57) 3220000</span>
  </div>
  
</div>
<div id="headerbottom">

  <ul id="headerbottomtabs">
    <li><%= link_to "Redes de Datos", "javascript:void(0)" %></li>
    <li class="long"><%= link_to "Servidores y Soluciones Open Source", "javascript:void(0)" %></li>
    <li><%= link_to "Seguridad IT", "javascript:void(0)" %></li>
    <li><%= link_to "VoIP", "javascript:void(0)" %></li>
    <li><%= link_to "Dominios", "javascript:void(0)" %></li>
    <li><%= link_to "Correos", "javascript:void(0)" %></li>
    <li><%= link_to "Hosting", "javascript:void(0)" %></li>
    <li><%= link_to "CCTV", "javascript:void(0)" %></li>
  </ul>

</div>
