<div class="flexslider">
  <ul class="slides">
    <li>
      <%= image_tag "slides/slide_dx_mobile.jpg" %>
    </li>
    <li>
      <%= image_tag "slides/slide_web_mobile.jpg" %>
      <div class="slideinfowrapper"><div class="slideinfo web">
        <h2>SERVICIOS WEB</h2>
        <h3></h3>
        <div class="slideinfobutton"><%= link_to "VER MÁS", web_path(:anchor=>"head") %></div>
      </div></div>
    </li>
    <li>
      <%= image_tag "slides/slide_webdev_mobile.jpg" %>
      <div class="slideinfowrapper"><div class="slideinfo webdev">
        <h2>DESARROLLO Y DISEÑO WEB</h2>
        <div class="slideinfobutton"><%= link_to "VER MÁS", web_path(:anchor=>"webdev") %></div>
      </div></div>
    </li>
    <li>
      <%= image_tag "slides/slide_cloud_mobile.jpg" %>
      <div class="slideinfowrapper"><div class="slideinfo cloud">
        <h2>SOLUCIONES CLOUD</h2>
        <h3></h3>
      </div></div>
    </li>
    <li>
      <%= image_tag "slides/slide_tic_mobile.jpg" %>
      <div class="slideinfowrapper"><div class="slideinfo tic">
        <h2>PROYECTOS TIC</h2>
        <h3></h3>
      </div></div>
    </li>
  </ul>
</div>
