<!DOCTYPE html>
<html>
<head>
  <title>dataflux</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "jquery.fancybox", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="author" content="dataflux" />
  <meta name="description" content="dataflux" />
  <meta name="keywords" content="dataflux, redes de datos, servidores, soluciones open source, seguridad, IT, VoIP, dominios, correos, hosting, CCTV" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="bodywrapper">
    <%= render :partial => "header" %>

    <%= yield %>

    <%= render :partial => "footer" %>
  <div>
  
</body>
</html>
