<!DOCTYPE html>
<html>
<head>
  <title>DataFlux | Servicios y Soluciones para su empresa o negocio</title>
  <%= stylesheet_link_tag "mobile", :media => "all" %>
  <%= javascript_include_tag "mobile" %>
  <meta name="author" content="dataflux" />
  <meta name="description" content="dataflux" />
  <meta name="keywords" content="dataflux, redes de datos, enlaces, servidores, telefonia ip, soluciones open source, seguridad, IT, VoIP, dominios, correos, hosting, CCTV" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render :partial => "layouts/header" %>
  <div id="content">
    <%= render :partial => "layouts/slider" %>
    <%= yield %>
  </div>
  <%= render :partial => "layouts/footer" %>

  <div id="back2top" class="smooth" href="#headertop" data-0="opacity:0;" data-900="opacity:0.6;"></div>

</body>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-45392240-1']);
  _gaq.push(['_setDomainName', 'dataflux.com.co']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</html>
